###
pyrogram
tgcrypto
lyricsgenius
python-dotenv
requests
asgiref
deezer-python
spotipy
psutil
aiohttp
aiofiles
apscheduler
mutagen
pymongo[srv]==3.12.3
bs4
motor==2.5.1
Shazamio
Pillow
wget
youtubesearchpython